:root {
  --color-primary: #6366B3;
  --color-secondary: #14B8A6;
  --color-highlight: #F4C95D;
  --color-soft: #F8F7FF;
  --color-error: #E8445A;
  --color-black: #000000;
  --color-white: #FFFFFF;
}