<mat-toolbar class="navbar">
  <span class="display navbar__logo" 
    [routerLink]="variant === 'auth' ? '/home' : '/welcome'">WORDUP</span>

  <span class="spacer"></span>

  @if (variant === 'guest') {
  <div class="navbar__actions">
    <button mat-flat-button class="btn-login label-large" routerLink="/home">Iniciar Sesión</button>
    <button mat-stroked-button class="btn-register label-large" routerLink="/crear-cuenta">Crear Cuenta</button>
  </div>
  }

  @if (variant === 'auth') {
  <nav class="navbar__links">
    <a [class.active]="activeLink === 'alarmas'" routerLink="/alarmas">Alarmas</a>
    <a [class.active]="activeLink === 'palabras'" routerLink="/palabras">Palabras</a>
    <a [class.active]="activeLink === 'perfil'" routerLink="/perfil">Perfil</a>
  </nav>
  <button mat-mini-fab class="btn-logout" routerLink="/welcome">
    <mat-icon>logout</mat-icon>
  </button>
  }
</mat-toolbar>