@use '@angular/material' as mat;
@use 'styles/colors';
@use 'styles/typography' as t;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@include mat.core();

$wordup-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Plus Jakarta Sans',
    bold-weight: 700,
  ),
));

html {
  @include mat.all-component-themes($wordup-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.mat-mdc-option.mdc-list-item--selected {
  background-color: var(--color-soft) !important;
  border-radius: 12px !important;

  .mdc-list-item__primary-text {
    color: var(--color-black) !important;
  }
}

.mat-mdc-option {
  flex-direction: row-reverse !important;
  
  .mat-pseudo-checkbox {
    margin-right: 4px !important;
    margin-left: 8px !important;
  }
}

.mat-mdc-select-panel {
  background-color: var(--color-soft) !important;
  border-radius: 12px !important;
}

.mat-calendar-body-label {
  visibility: hidden !important;
  height: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
}

.active-day .mat-calendar-body-cell-content {
  background-color: var(--color-highlight) !important;
  color: var(--color-white) !important;
  border-radius: 50% !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px !important;
}


.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 12px !important;
}