@use '@angular/material' as mat;
@use 'styles/colors';
@use 'styles/typography' as t;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@include mat.core();

$wordup-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Plus Jakarta Sans',
    bold-weight: 700,
  ),
));

html {
  @include mat.all-component-themes($wordup-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}